<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>TODO list</title>

    <link rel="manifest" href="manifest.json">
    <link href="main.css" rel="stylesheet" id="css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" >


    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Liste de tâches</h1>
      </ion-header-bar>
      <ion-content>
        <h1> Bonjour <span ng-controller="testCtrl"> {{name}} </span> ! </h1>
        <div ng-controller="todoListCtrl">
          <div>
              <h2>Tâches </h2>
              <span class="taskdone">({{howManyDone()}} effectuées sur {{taskList.length}})</span>
              
              <form ng-submit="addTask()">
                  <input class="ajouter"  ng-model="taskInputName" placeholder="Entrez une tâche"/>
                  <button class="ajouter" type="submit">Ajouter</button>
              </form>

              <div ng-repeat="task in taskList track by $index" class="task">
                  <input type="checkbox" ng-model="task.done" ng-click="update(task)"/>
                  <span class="delete-task" ng-class="{sousligne:task.done}">{{ task.name }}</span>
                  <button class="delete-task" ng-click="delete(task)">  <i class="fas fa-trash-alt"></i></button>
              </div>
          </div>

      </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
