ion-content {
    padding-left: 20px;
    padding-right: 20px;
}

.task{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #f3f3f3;
}

.taskdone{
    font-size: 1.4em;
    font-style: italic;
    padding-bottom: 30px;
    display: inline-block;
}

h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

input.ajouter{
    display: inline-block;;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
}

button.ajouter{
    display: inline-block;
    width: 18%;
    border-radius: 5px;
    background-color: #2980b9;
    color: white;
    border: 1px solid lightgrey;
}

.ajouter{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

button.delete-task{
    float: right;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: lightcoral;
    color: white;
    padding: 2px 5px 2px 5px;
}

.sousligne {
    text-decoration: line-through;
    color:rgb(150, 150, 150)
}